@using MyPortfolio.Models.Entity
@model List<TblProjectTechnologies>

<div class="project-card__tech-stack">
    <span class="tech-badge tech-badge--react">React</span>
    <span class="tech-badge tech-badge--node">.Net Core</span>
    <span class="tech-badge tech-badge--sql">Mssql</span>
    <span class="tech-badge tech-badge--html">HTML</span>
    <span class="tech-badge tech-badge--css">CSS</span>
    <span class="tech-badge tech-badge--js">JavaScript</span>
</div>
